/* Общие стили */

body {
    font-size: 18px;
    line-height: 23px;
    font-family: "IBM Plex Sans", sans-serif;
    background-color: #f1ece9;
}

h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

/* Стили разделов */

header {
    background-color: #333a42;
    padding-top: 39px;
    color: #ffffff;
}

header h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
}

header nav {
    padding-top: 7px;
    padding-bottom: 2px;
}

header nav ul {
    /* Отменил буллеты у элементов списка */
    list-style: none;
}

header nav ul li {
    /* Остаются блочным, но выстраиваются в одну строка */
    display: inline-block;
    margin-right: 34px;
}

header nav ul li a {
    text-decoration: none;
    color: inherit;
    /* наследуем цвет от родительского элемента */
}

#about {
    padding-top: 121px;
    padding-bottom: 80px;
    background-color: #333a42;
    color: #ffffff;
}

#about figure img {
    width: 100%;
    border-radius: 50%;
}

#about p {
    font-size: 24px;
    line-height: 32px;
}

#projects {
    padding-top: 39px;
    padding-bottom: 42px;
}

#projects figure {
    padding-top: 10px;
}

#projects figure img {
    /* запретили картинке разъезжаться */
    width: 100%;
    margin-bottom: 6px;
}

#projects figure figcaption h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 7px;
}

#projects figure figcaption .counter {
    /* притягиваем текст к правой части элемента */
    text-align: right;
}